body {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #222222;
    color: #fafafa;
}
a {
    text-decoration: none;
    color: #fafafa;

}
a:hover {
color: #08A47C;
}
.bg-todo {
    background-color: #222222;
}
.text-todo {
    color: #fafafa;
}
.text-todo-green {
    color: #08A47C;
}
.text-todo-green:hover {
    color: #fafafa;
}
.table-todo {
    --bs-table-color: #fafafa;
    --bs-table-bg: #222222;
    --bs-table-border-color: #4d5154;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
.bs-bg-todo {
    --bs-table-bg: #222222;
}
.bs-text-todo {
    --bs-table-color: #fafafa;
}
}
.giant-font {
    font-size: 100px;
}
.card {
        --bs-card-bg: #222222;
}
.dark-modal .modal-content {
    background-color: #343a40; /* Bootstrap 5 dark background */
    color: #ffffff; /* Light text */
}

.dark-modal .modal-header,
.dark-modal .modal-body,
.dark-modal .modal-footer {
    border-color: #474f55; /* Slightly lighter border color */
}
.btn-todo {
    background-color: #08A47C;
    color: #fafafa;
}
.btn-todo:hover {
    border-color: #08A47C;
}